.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff; 
  }
  
  .separator {
    height: 0.5px;
    background-color: grey; 
  }
  
  .logo {
    height: 80px;
  }
  
  .menu {
    display: flex;
    gap: 1rem;
  }
  
  .btn-login, .btn-signup {
    padding: 0.6rem 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; 
  }
  
  .btn-login {
    background-color: #1fd655; 
    font-size: 16px;
  }
  
  .btn-signup {
    background-color: #1fd655; 
    font-size: 16px;
  }
  
  header {
    text-align: center;
    margin: 1rem 0;
  }
  
  h1 {
    color: #006400; 
  }
  
  .gallery {
    display: flex;
    justify-content: center;
  }


  .gallery-container {
    width: 100vw;
    text-align: center;
  }

 .gallery-item {
    width: 90%;
 }

 .popup-notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f5c6cb;
  z-index: 1000;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

